<div class = "row mt-4 border-bottom">
        <div class = "col-md-6">
            <p class = "text-primary">My Task Tracker</p>
        </div>
        <div class = "col-md-6 text-right pb-3">
                <button type="button" class="btn btn-outline-primary text-dark"  data-toggle="modal" data-target="#exampleModal">New Task</button>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">New Task</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                    <form #taskcreation = "ngForm" (ngSubmit) = "onClickSubmit(taskcreation.value)">
                        <div class="form-group"  >
                          <label for="task-title" class="col-form-label">Task Title:</label>
                          <input type="text" class="form-control" name="taskTitle"  ngModel>
                        </div>
                        <div class="form-group">
                            <label for="task-desc" class="col-form-label">Task Description:</label>
                            <textarea class="form-control" name="taskDesc"  ngModel></textarea>
                        </div>
                        <div class="form-group">
                            <label for="status" class="col-form-label">Status:</label>
                            <select class="form-control" name = "status1" ngModel>
                                <option *ngFor = "let status of taskStatus" [value] = "status" >
                                    {{status}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="creation-date" class="col-form-label">Creation Date:</label>
                            <input type="Date" class="form-control" name="creationDate"  ngModel>
                        </div>
                        <div class="form-group">
                            <label for="completion-date" class="col-form-label">Completion Date:</label>
                            <input type="Date" class="form-control" name="completionDate"  ngModel>
                        </div>
                        <div class="form-group">
                            <label for="priority" class="col-form-label">Priority:</label>
                            <select class="form-control" name="priority1" ngModel>
                                <option *ngFor = "let priority of priorities" [value] = "priority">
                                    {{priority}}
                                </option>
                            </select>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Create New Task</button>
                        </div>
                      </form>
                    </div>
                   
                  </div>
                </div>
              </div>
    </div>
    
    