<div class = "container">
<h2 class = "mb-4">Orders</h2>
<table class="table">
        <thead>
          <tr>
            <th scope="col">Customer</th>
            <th scope="col">Date</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John Smith</td>
            <td>Aug 29 2017</td>
            <td><a href = "#">View</a></td>     
          </tr>
          <tr>
            <td>John Smith</td>
            <td>Aug 29 2017</td>
            <td><a href = "#">View</a></td>
          </tr>
          <tr>
            <td>John Smith</td>
            <td>Aug 29 2017</td>
            <td><a href = "#">View</a></td>
          </tr>
        </tbody>
      </table>
</div>